@import "tailwindcss";

:root {
  --bg-color: #F3F3F3;
  --text-color: #0F0F0F;
  --menu-color: #D0D0D0;
  --menu-shadow: #9d9d9d;
  --input-color: #D0D0D0;
  --input-shadow: #9d9d9d;
  --chat-msg-color: #D0D0D0;
  --input-text-color: #464646;
  --timestamp-color: #939393;
  --code-color: rgb(214, 211, 221);
  --user-button-color: rgb(180, 180, 180);
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme='light']) {
    --bg-color: #141414;
    --text-color: #e0e0e0;
    --menu-color: #1E1E1E;
    --menu-shadow: #0c0c0c;
    --input-color: #272727;
    --input-shadow: transparent;
    --chat-msg-color: #474747;
    --input-text-color: #ABAAAA;
    --timestamp-color: #ABAAAA;
    --code-color: #2c2a30;
    --user-button-color: rgb(79, 79, 79);
  }
}

html {
  overflow-y: scroll;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

ul,
ol {
  list-style-position: inside;
  margin: 1rem 0px;
}

li {
  text-indent: -1.2rem;
  padding-left: 1.2rem;
  list-style-type: disc;
  margin: .5rem 0px;
}

input:focus {
  outline: none;
}

li p {
  display: inline;
}

pre {
  padding: 1rem;
  background: var(--code-color);
  border-radius: 0.5rem;
  overflow-x: auto;
  white-space: pre-wrap;
  word-break: break-word;
  box-sizing: border-box;
  width: 95%;
  margin: 1rem auto;
}

pre>code {
  display: block;
  box-sizing: border-box;
  padding: 0px 1rem;
  font-size: .9rem;
}

article p {
  margin: .25rem 0px;
}

.header-transition {
  transition: width 500ms, padding 500ms;
}