@import "tailwindcss";

:root {
  --bg-color: rgb(250, 250, 250);
  --text-color: #0F0F0F;
  --menu-color: #D0D0D0;
  --menu-shadow: #9d9d9d;
  --input-color: rgb(212, 212, 212);
  --input-shadow: #9d9d9d;
  --chat-msg-color: #D0D0D0;
  --input-text-color: #464646;
  --hover-color: #b8b8b8;
  --code-color: rgb(214, 211, 221);
  --user-button-color: rgb(206, 206, 206);
  --button-color: #ebebeb;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme='light']) {
    --bg-color: #141414;
    --text-color: #e0e0e0;
    --menu-color: #1E1E1E;
    --menu-shadow: #0c0c0c;
    --input-color: #272727;
    --input-shadow: transparent;
    --chat-msg-color: #474747;
    --input-text-color: #ABAAAA;
    --hover-color: #494949;
    --code-color: #2c2a30;
    --user-button-color: rgb(34, 34, 34);
    --button-color: #1c1c1c;
  }
}

html {
  overflow-y: scroll;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

input:focus {
  outline: none;
}

/* Remove autocomplete background color on inputs */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px var(--input-color) inset !important;
  box-shadow: 0 0 0 1000px var(--input-color) inset !important;
  /* prevent flashing */
  transition: background-color 5000s ease-in-out 0s;
}

.markdown li p {
  display: inline;
}

.markdown ul,
.markdown ol {
  list-style-position: inside;
  margin: 1rem 0px;
}

.markdown li {
  text-indent: -1.2rem;
  padding-left: 1.2rem;
  list-style-type: disc;
  margin: .5rem 0px;
}

.markdown pre {
  padding: 1rem;
  background: var(--code-color);
  border-radius: 0.5rem;
  overflow-x: auto;
  white-space: pre-wrap;
  word-break: break-word;
  box-sizing: border-box;
  width: 95%;
  margin: 1rem auto 1.5rem;
}

.markdown pre>code {
  display: block;
  box-sizing: border-box;
  padding: 0px 1rem;
  font-size: .9rem;
}

.markdown p {
  margin: .25rem 0px;
}

.markdown h2 {
  font-size: 1.9rem;
  margin: 1.25rem 0px;
}

.markdown h3 {
  font-size: 1.6rem;
  margin: 1rem 0px;
}

.markdown h4 {
  font-size: 1.3rem;
  margin: 1rem 0px;
}

hr {
  margin: 2rem 0px;
  color: var(--chat-msg-color)
}

.header-transition {
  transition: width 500ms ease, height 500ms ease, padding 500ms;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Loading spinner animation */
.spinner {
  position: fixed;
  width: 140px;
  height: 140px;
  border: 8px solid #b1b1b1;
  border-top: 8px solid var(--input-shadow);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}